.pin-spacer {
   
    padding: 0 0 0 !important; /* Adjust as needed */
  }
  

.bookNow {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    border-radius: 16px;

}

.bookNow::before {
    content: '';
    height: 60%;
    width:100% ;
    border-radius: 16px;
    background-color: white;
    position: absolute;
    z-index: -1;
    top: 25%;
    left: 0;
    transform-origin: center center;
    animation: rotate 4s linear infinite;
}

.bookNow::after {
    content: 'Book now';
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 3px;
    left: 3px;
    z-index: 2;
    background: #506b27;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

}

.bookNow::after:hover {
  text-decoration: underline;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.move{
    animation: move 40s linear infinite;

}

.card :nth-child(1):hover + .arrow-open{
 display: block;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* Custom scrollbar styles */
.scrollbar-custom::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent; /* Dark background for the track */
    border-radius: 10px; /* Rounded corners */
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Dark gray thumb */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #1f2937; /* Padding around thumb */
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280; /* Lighter gray on hover */
  }
  
  .welcomeIMG{
    background:rgba(0, 0, 0, 0.7) url(Images/de5.jpeg) center center no-repeat;
    
  }
